.main-sec {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(33, 1fr);
  grid-column-gap: 2px;
  grid-row-gap: 2px;
}

.card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}